<ion-header>
  <ion-toolbar>
    <ion-title size="large">inicio</ion-title>
    <ion-label>"He conseguido hacer un commit usando GIT"</ion-label>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="logo-html5"></ion-icon></ion-button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
        <ion-button routerLink="/tabs" expand="full"><ion-icon name="star"></ion-icon>Ir tabs</ion-button>
          <p></p>
        <ion-button routerLink="/datos-personales" expand="full"><ion-icon name="logo-github"></ion-icon>Ir datos-personales</ion-button> 
  </ion-toolbar>  
</ion-content>
