<app-cabecera titulo="FCT"></app-cabecera>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://www.twitch.tv/"
        ><ion-icon name="logo-twitch"></ion-icon
      ></ion-fab-button>
      <ion-fab-button href="https://www.instagram.com/"
        ><ion-icon name="logo-instagram"></ion-icon
      ></ion-fab-button>
      <ion-fab-button href="https://ionicframework.com/docs/api/fab-button"
        ><ion-icon name="logo-steam"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon name="hand-left-outline"></ion-icon>
          <ion-label>Centro Universitario Villanueva </ion-label>
        </ion-item>
        <ion-button
          href="https://www.universia.net/es/universidades/centro-universitario-villanueva.00920.html"
          >Ir al centro
        </ion-button>
        <ion-card-content>
          La misión fundacional del Centro Universitario Villanueva es la de
          ofrecer una educación universitaria de calidad desde una concepción de
          la persona y de la sociedad de profundas raíces cristianas. La*
          docencia, el asesoramiento y la investigación de todos los
          profesionales que componen la comunidad universitaria, se orientan a
          fomentar en el alumno el amor a la verdad y a la libertad, que unidos
          a la transmisión de conocimientos y a la generación de competencias,
          contribuyen a su desarrollo personal y profesional, y a la búsqueda
          del bien común como servicio a la sociedad.
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon name="eye-outline"></ion-icon>
          <ion-label>IE University</ion-label>
        </ion-item>
        <ion-button
          href="https://www.universia.net/es/universidades/ie-university.00989.html"
          >Ir al centro</ion-button
        >
        <ion-card-content>
          IE University hunde sus raíces en IE Business School, fundada en 1973
          en el corazón financiero de Madrid. En aquellos primeros años
          comienzan su andadura los programas MBA y Executive MBA de IE Business
          School, se crea el Consejo Rector y se constituye la Asociación de
          Antiguos Alumnos. A medida que España fue mirando más allá de sus
          fronteras, el IE se fue convirtiendo en foro de debate sobre los
          desafíos empresariales a nivel internacional.
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon name="heart-circle-outline"></ion-icon>
          <ion-label>4DOCTORS </ion-label>
        </ion-item>
        <ion-button href="https://www.universia.net/es/universidades/4doctors.00978.html">Ir al centro</ion-button>
        <ion-card-content
          >Empresa destianda a la formación de doctores</ion-card-content
        >
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon name="briefcase-outline"></ion-icon>
          <ion-label>AENOR Formación </ion-label>
        </ion-item>
        <ion-button href="https://www.universia.net/es/universidades/aenor-formacion.01593.html">Ir al centro</ion-button>
        <ion-card-content>
          Más de 95.000 profesionales han confiado en AENOR para recibir una
          formación de primer nivel, acorde con las necesidades de un mercado
          cada día más competitivo. Las claves de la calidad de los cursos
          impartidos por AENOR formación son: un profundo conocimiento del
          sector empresarial, un contenido de los cursos específico para dar
          respuesta a las necesidades reales de las empresas y un profesorado
          altamente cualificado constituido en su totalidad por profesionales en
          activo.
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
